body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 { 
    font-family: Verdana, sans-serif; 
    color: blue;
}

h2 { 
    font-family: Verdana, sans-serif; 
    color: green; 
}

h3 { 
    font-family: Verdana, sans-serif; 
    color: darkgreen; 
}

h4 { 
    font-family: Verdana, sans-serif; 
    color: lightgreen; 
}

p { 
    font-family: Arial, serif; 
    color: black; 
    text-align: justify; 
}

code { 
    font-family: "Courier New", monospace; 
    color: red; 
}

img { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
